/* styles.css */

* {
	font-family: Arial;
}

.pinyon-script-regular, h1 {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
	margin: 100px auto;
	width: 50%;
}
