/* styles.css */

* {
	font-family: Arial;
}

.pinyon-script-regular, h1 {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
	font-size: 3em;
}

.backgroundImage {
	background-image: url(../img/wrench.png);
	width: 400px;
	height: 400px;
}

.backgroundImage:hover {
	background-image: url(../img/clock.png);
	cursor: crosshair;
}

body {
	margin: 100px auto;
	width: 50%;
}
